<div class="text-white mt-4">
    <div class="max-w-[800px] mt-[-96px] w-full h-screen mx-auto text-center flex flex-col justify-center">
      <p class="uppercase text-[#00df9a] font-bold p-2">
        Growing with P2P Lending
      </p>
      <h1 class="md:text-6xl sm:text-5xl text-3xl font-bold md:py-6">
        Let's get you started today!
      </h1>
      <div class="flex justify-center md:space-x-2 space-x-1 py-2">
        <p class="md:text-5xl sm:text-4xl text-xl font-bold">
          Fast and flexible financing.
        </p>
      </div>
      <div *ngIf="!authService.isLoggedIn()" class="flex justify-center py-12">
        <a routerLink="/register" class="bg-[#00df9a] hover:bg-[#00ae77] w-[200px] rounded-md font-medium py-3 px-6">
          Get Started
        </a>
      </div>
    </div>
  </div>