<div class="h-screen flex justify-center items-center">
  <div *ngIf="user" class="bg-white px-16 shadow-sm rounded-lg">
    <div class="flex justify-center">
      <h1 class="text-3xl font-bold py-12">Profile Details</h1>
    </div>
    <div class="text-gray-700">
      <div class="grid grid-col text-sm">
        <div class="grid grid-cols-2">
          <div class="px-8 py-4 font-semibold">First Name:</div>
          <div class="px-8 py-4">{{ user.firstName }}</div>
        </div>
        <div class="grid grid-cols-2">
          <div class="px-8 py-4 font-semibold">Last Name:</div>
          <div class="px-8 py-4">{{ user.lastName }}</div>
        </div>
        <div class="grid grid-cols-2">
          <div class="px-8 py-4 font-semibold">Email:</div>
          <div class="px-8 py-4">
            <a class="text-blue-800" href="mailto:jane@example.com">{{
              user.email
            }}</a>
          </div>
        </div>
        <div class="grid grid-cols-2">
          <div class="px-8 py-4 font-semibold">Username:</div>
          <div class="px-8 py-4">{{ user.username }}</div>
        </div>
      </div>
    </div>
    <div class="py-6 flex justify-center">
      <a routerLink="/edit"
        class="bg-[#01375C] text-white font-bold text-sm rounded-lg hover:bg-[#014e81] py-3 px-8 my-4"
      >
        Edit Details
      </a>
    </div>
  </div>
</div>
